<html>
    
    <h1> Cart</h1>
    <body>
        <div class="card" style="width: 18rem;">
        <img src="path-to-image.jpg" class="card-img-top" alt="Description of image">
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">This is a simple card example using Bootstrap 5. You can add more details here.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </body>
</html>