<html>
    <title>
        Blog page
    </title>
    <body>
        <%- include('./common/header.ejs'); %> 
        <h1>
Welcome to Blog page

        </h1>
        <%- include('./common/footer.ejs'); %> 
    </body>
</html>